.peak-item {
    /*width: 100%;*/
    /*margin-left: 200px;*/
    /*height: 45px;*/
    /*height: 100%;*/
    background-color: rgba(200, 0, 0, 0.5);
    position: absolute;
    z-index: 999;
    /*display: none;*/
}

div.kscroll-swinghead {
    width: 20px;
    height: 20px;
    left: 0;
    top: 40%;
    /*background-color: rgba(0, 0, 200, 0.5);*/
    background-color: transparent;
    position: absolute;
    z-index: 1000;
}

div.kscroll-indicator {
    position: absolute;
    z-index: 1002;
    top: 0px;
    left: 3px;
    width: 8px;
    height: 20px;
    background-color: #888;
    border: none;
    margin: 5px 0 5px 0;
}

svg, svg.kscroll-canvas {
/*    width: 100%;
    height: 100%;*/
    /*z-index: 0;*/
    pointer-events: none;
}

svg path.kscroll-swingarm-top, svg path.kscroll-swingarm-bottom {
    /*position: absolute;*/
    /*z-index: 1002;*/
    /*top: 40%;*/
    /*left: 0;*/
    /*transform:rotate(-7deg);*/
    /*-ms-transform:rotate(-7deg); */ /* IE 9 */
    /*-webkit-transform:rotate(-7deg); */ /* Opera, Chrome, and Safari */
/*    background-color: #888;*/
    stroke-width: 5px;
    stroke: teal;
    opacity: 0.5;
    z-index: 1000;
}

.peak-summary {
    position: absolute;
    /*background-color: rgba(0, 200, 0, 0.5);*/
    z-index: 1001;
    width: 0;
    height: 0;
    /*display: none;*/
}

