.container {
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
    position: absolute;
    top: 0px;
    left: 0px;
    overflow: hidden;
}

.container img.wide {
    width: 100%;
    height: auto;
}

.container img.tall {
    height: 100%;
    width: auto;
}​

.post-title {
	font-family: "jaf-bernino-sans","Lucida Grande","Lucida Sans Unicode","Lucida Sans",Geneva,Verdana,sans-serif;
	letter-spacing: -0.02em;
	font-weight: 700;
	font-style: normal;
	letter-spacing: -0.04em;
	font-size: 50px;
	line-height: 1.1;
	margin: 0px;
	margin-bottom: 8px;
}

h1 {
display: block;
font-size: 2em;
margin: 0px;
font-weight: bold;
}

.picker-content, .story-cover-content {
	position: absolute;
	top:0px;
	left:10%;
}

.link {
color: inherit;
text-decoration: none;
}

a:-webkit-any-link {
color: inherit;
text-decoration: none;
}

.post-page-wrapper {
-webkit-font-smoothing: antialiased;
color: rgb(51, 51, 50);
display: block;
font-family: jaf-bernino-sans, 'Lucida Grande', 'Lucida Sans Unicode', 'Lucida Sans', Geneva, Verdana, sans-serif;
font-size: 16px;
font-style: normal;
font-weight: normal;
height: 53111px;
letter-spacing: -0.36000001430511475px;
line-height: 20px;
overflow-x: hidden;
overflow-y: hidden;
visibility: visible;
position: absolute;
left:0px;
width: 100%;
}
.post-page-wrapper, .post-page-wrapper-inner {
position: relative;
}

body {
font-family: "jaf-bernino-sans","Lucida Grande","Lucida Sans Unicode","Lucida Sans",Geneva,Verdana,sans-serif;
letter-spacing: -0.02em;
font-weight: 400;
font-style: normal;
color: #333332;
font-size: 16px;
line-height: 20px;
-webkit-font-smoothing: antialiased;
overflow-x: hidden;
}

.grid-breaking .body .image-outset-center {
margin-right: -100px;
margin-left: -100px;
}



.post-field, .post-field:focus, .post-title, .post-title:focus {
outline: 0;
word-wrap: break-word;
}

.post-field.subtitle {
font-family: "jaf-bernino-sans","Lucida Grande","Lucida Sans Unicode","Lucida Sans",Geneva,Verdana,sans-serif;
letter-spacing: -0.02em;
font-weight: 300;
font-style: normal;
font-size: 30px;
line-height: 1.1;
color: #666665;
margin: 0;
}

.post-item-meta {
font-size: 14px;
color: #b3b3b1;
}

.post-content {
	font-family: "jaf-bernino-sans","Lucida Grande","Lucida Sans Unicode","Lucida Sans",Geneva,Verdana,sans-serif;
letter-spacing: .01rem;
font-weight: 400;
font-style: normal;
font-size: 21px;
line-height: 1.45;
}

.body hr {
display: block;
width: 14%;
margin: 50px auto 40px auto;
border: 0;
border-top: 1px solid #dededc;
}



.image-outset-center {
	width: 630px;
	position: relative;
	left: 100px;
	margin-top:30px;
	margin-bottom: 10px;
}

.image-caption {
	width: 630px;
}

img {
	width: 630px;
	height: auto;
}

.post-item-meta-avatar {
display: inline-block;
width: 30px;
height: 30px;
line-height: 30px;
margin-right: 8px;
margin-bottom: -10px;
}

.avatar-icon {
width: 32px;
height: 32px;
-webkit-border-radius: 100%;
-moz-border-radius: 100%;
border-radius: 100%;
}


.layout-single-column {
width: 640px;
margin: 0 auto;
}

.story-cover-content {
position: absolute;
left: 0;
right: 0;
bottom: 50px;
padding-top: 200px;
padding-bottom: 20px;
color: #fff;
}

.story-cover-content .post-item-meta {
font-family: "jaf-bernino-sans","Lucida Grande","Lucida Sans Unicode","Lucida Sans",Geneva,Verdana,sans-serif;
letter-spacing: -0.02em;
font-weight: 400;
font-style: normal;
}

.picker-layout-fill .post-item-meta, .picker-layout-fill .post-item-meta a, .picker-layout-fill .post-item-author {
color: rgba(255,255,255,0.65);
}

.image-caption {
font-family: "freight-text-pro",Georgia,Cambria,"Times New Roman",Times,serif;
letter-spacing: .01rem;
font-weight: 400;
font-style: italic;
font-size: 14px;
line-height: 1.4;
color: #666665;
outline: 0;
z-index: 300;
}

.notes-markers {
	position: absolute;
	left: 90%;
	top: 330px;
	width: 30px;
	margin: 0px;
	padding: 0px;
}
.notes-hasnotes, .notes-marker-highlighted {
display: block;
}
.notes-marker {
position: absolute;
left: 100%;
width: 45px;
height: 35px;
padding: 10px;
margin: -2px 0 0;
cursor: pointer;
overflow: hidden;
}

.notes-marker-count {
	background-image: url("bubble.png");
	background-repeat: no-repeat;
	background-position: center;
	width: 45px;
	height: 35px;
	display: block;
	text-align: center;
	line-height: 32px;
	font-size: 12px;
}
.no-user-select {
-webkit-touch-callout: none;
-webkit-user-select: none;
-khtml-user-select: none;
-moz-user-select: none;
-ms-user-select: none;
user-select: none;
}


.notes-position-container>.notes-container, .notes-position-container>.notes-markers {
z-index: 60;
}
.notes-container {
position: absolute;
left: 100%;
font-size: 14px;
line-height: 1.3;
margin-left: 40px;
width: 280px;
padding-left: 20px;
}

.notes-position-container {
font-family: "jaf-bernino-sans","Lucida Grande","Lucida Sans Unicode","Lucida Sans",Geneva,Verdana,sans-serif;
letter-spacing: -0.02em;
font-weight: 400;
font-style: normal;
}